################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pyjong.slnx/FileContentIndex/ae6ec073-3f44-4a79-bf17-535626feabf8.vsidx
