################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pyjong.slnx/FileContentIndex/ae6ec073-3f44-4a79-bf17-535626feabf8.vsidx
/.vs/Pyjong.slnx/FileContentIndex/320aae2c-93dc-4f62-abef-641d8ba13b07.vsidx
/.vs/Pyjong.slnx/FileContentIndex/a8460f9e-e671-403b-8679-01295a25e411.vsidx
*.vsidx
